/target
/dist
crates/eggserve-python/target
crates/eggserve-python/dist
crates/eggserve-python/Cargo.lock
crates/eggserve-python/python/eggserve/_native*.so
crates/eggserve-python/python/eggserve/bin/
*.whl
*.pyc
__pycache__/
crates/eggserve-python/packaging-tests/__pycache__/
